body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #d8d8d8;
    background-repeat: no-repeat
}

.map {
    position: relative;
    width: 64.7%;
    float: left;  
}

.back9d{
    background-color: #9d9797;
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 6px;
}

.backc4 {
    background-color: #c4c4c4;
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 6px;
}

.fixedfoodIcon {
  width: 20px;
}

.foodIcon {
    width: 20px;
}

.foodIcon:hover { 
  width: 25px;
  border: 2px solid grey; 
} 

.userIcon {
    width: 26px;
}

.marginleft20 {
    margin-left: 20px;
}

#user-temp{
  position: absolute;
  top: 46%;
  left: 33.5%;
}
  

/*red icons on the outdoor map*/
.fi-wor {
  position: absolute;
  top: 32%;
  left: 36.9%;
}

#wrapper-wor .card-wor {
  position:absolute;
  top:12%;
  left:39.9%;
  visibility:hidden;
  z-index: 1000;
  }
  
  #wrapper-wor:hover .card-wor {
  visibility:visible;
  }

/*red icons on the wor indoor map*/
#fi-wor-seasons {
    position: absolute;
    top: 38%;
    left: 36%;
  }

#wrapper-seasons .card-wor-seasons {
  position:absolute;
  top:18%;
  left:39%;
  visibility:hidden;
  z-index: 1000;
  }
  
  #wrapper-seasons:hover .card-wor-seasons {
  visibility:visible;
  }

#fi-wor-tandoor {
  position: absolute;
  top: 52%;
  left: 33%;
}

#wrapper-tandoor .card-wor-tandoor {
  position:absolute;
  top:32%;
  left:36%;
  visibility:hidden;
  z-index: 1000;
  }
  
  #wrapper-tandoor:hover .card-wor-tandoor {
  visibility:visible;
  }
  

#fi-wor-pizza {
  position: absolute;
  top: 38%;
  left: 31%;
}

#wrapper-pizza .card-wor-pizza {
  position:absolute;
  top:18%;
  left:34%;
  visibility:hidden;
  z-index: 1000;
  }
  
  #wrapper-pizza:hover .card-wor-pizza {
  visibility:visible;
  }

#fi-wor-desserts {
  position: absolute;
  top: 39%;
  left: 21%;
}

#wrapper-desserts .card-wor-desserts {
  position:absolute;
  top:19%;
  left:24%;
  visibility:hidden;
  z-index: 1000;
  }
  
  #wrapper-desserts:hover .card-wor-desserts {
  visibility:visible;
  }

#fi-wor-street {
  position: absolute;
  top: 38%;
  left: 48%;
}

#wrapper-street .card-wor-street {
  position:absolute;
  top:18%;
  left:51%;
  visibility:hidden;
  z-index: 1000;
  }
  
  #wrapper-street:hover .card-wor-street {
  visibility:visible;
  }

#fi-wor-noodle {
  position: absolute;
  top: 46%;
  left: 53%;
}

#wrapper-noodle .card-wor-noodle {
  position:absolute;
  top:26%;
  left:56%;
  visibility:hidden;
  z-index: 1000;
  }
  
  #wrapper-noodle:hover .card-wor-noodle {
  visibility:visible;
  }


#fi-wor-grill {
  position: absolute;
  top: 52%;
  left: 24%;
}

#wrapper-grill .card-wor-grill {
  position:absolute;
  top:32%;
  left:27%;
  visibility:hidden;
  z-index: 1000;
  }
  
  #wrapper-grill:hover .card-wor-grill {
  visibility:visible;
  }

#fi-wor-latino {
  position: absolute;
  top: 48%;
  left: 14%;
}

#wrapper-latino .card-wor-latino {
  position:absolute;
  top:28%;
  left:17%;
  visibility:hidden;
  z-index: 1000;
  }
  
  #wrapper-latino:hover .card-wor-latino {
  visibility:visible;
  }

#fi-wor-medi {
  position: absolute;
  top: 38%;
  left: 26%;
}

#wrapper-medi .card-wor-medi {
  position:absolute;
  top:18%;
  left:29%;
  visibility:hidden;
  z-index: 1000;
  }
  
  #wrapper-medi:hover .card-wor-medi {
  visibility:visible;
  }

#fi-wor-soup {
  position: absolute;
  top: 57%;
  left: 30%;
}

#wrapper-soup .card-wor-soup {
  position:absolute;
  top:37%;
  left:33%;
  visibility:hidden;
  z-index: 1000;
  }
  
  #wrapper-soup:hover .card-wor-soup {
  visibility:visible;
  }

/*Modals*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 33.3%;
    top: 0;
    width: 33.3%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    border: #000;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/*Inside Modals*/

.modalImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

/*Search Function*/
.search-dropdown{
  position: relative;
  display: inline-block;
} 

