body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #d8d8d8;
    background-repeat: no-repeat
}

.map {
    position: relative;
    width: 64.7%;
    float: left;  
}

.back9d{
    background-color: #9d9797;
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 6px;
}

.backc4 {
    background-color: #c4c4c4;
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 6px;
}

.fixedfoodIcon {
  width: 20px;
}

.foodIcon {
    width: 20px;
}

.foodIcon:hover { 
  width: 25px;
  border: 2px solid red; 
} 

.userIcon {
    width: 26px;
}

.marginleft20 {
    margin-left: 20px;
}

/*red icons on the outdoor map*/
.fi-wor {
  position: absolute;
  top: 220px;
  left: 470px;
}

/*red icons on the wor indoor map*/
#fi-wor-seasons {
    position: absolute;
    top: 260px;
    left: 460px;
  }

#fi-wor-tandoor {
  position: absolute;
  top: 360px;
  left: 425px;
}

#fi-wor-pizza {
  position: absolute;
  top: 260px;
  left: 365px;
}

#fi-wor-desserts {
  position: absolute;
  top: 270px;
  left: 190px;
}

#fi-wor-street {
  position: absolute;
  top: 260px;
  left: 610px;
}

#fi-wor-noodle {
  position: absolute;
  top: 330px;
  left: 650px;
}

/*Modals*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 33.3%;
    top: 0;
    width: 33.3%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    border: #000;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/*Inside Modals*/

.modalImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

